apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: diaspomoney-prod
  labels:
    app: diaspomoney
    component: redis
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - port: 6379
    targetPort: 6379
    protocol: TCP
    name: redis
  selector:
    app: diaspomoney
    component: redis

