# Ce fichier est un exemple. Créez vos secrets avec :
# kubectl create secret generic jenkins-kubeconfigs \
#   --from-file=config-dev=/path/to/config-dev \
#   --from-file=config-rct=/path/to/config-rct \
#   --from-file=config-prod=/path/to/config-prod \
#   -n jenkins

apiVersion: v1
kind: Secret
metadata:
  name: jenkins-kubeconfigs
  namespace: jenkins
type: Opaque
stringData:
  config-dev: |
    # Collez ici le contenu de votre kubeconfig-dev
  config-rct: |
    # Collez ici le contenu de votre kubeconfig-rct
  config-prod: |
    # Collez ici le contenu de votre kubeconfig-prod

