apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: diaspomoney-prod

resources:
  # Namespaces
  - environments/prod-namespace.yaml
  
  # ConfigMaps
  - configmaps/app-config.yaml
  - configmaps/mongodb-config.yaml
  - configmaps/mongodb-init-script.yaml
  
  # Secrets (à créer manuellement avec vos valeurs)
  # - secrets/template.yaml
  # - secrets/mongo-express-secrets.yaml
  
  # MongoDB
  - mongodb/deployment.yaml
  - mongodb/service.yaml
  
  # Redis
  - redis/deployment.yaml
  - redis/service.yaml
  
  # Application
  - app/deployment.yaml
  - app/service.yaml
  - app/hpa.yaml
  
  # Mongo Express
  - mongo-express/deployment.yaml
  
  # Ingress
  - ingress/ingress.yaml

commonLabels:
  app: diaspomoney
  managed-by: kustomize

