apiVersion: v1
kind: Service
metadata:
  name: diaspomoney-app
  namespace: diaspomoney-prod
  labels:
    app: diaspomoney
    component: app
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: diaspomoney
    component: app
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800

